.windowPopup {
  position: fixed;
  width: calc(50% - 20px);
  height: calc(50% - 20px);
  background: #101727;
  border: 1px solid #3C4554;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  z-index: 1000;
}

.fullWindowPopup {
  position: fixed;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  background: #101727;
  border: 1px solid #3C4554;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  z-index: 1000;
}

.popupHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.popupHeader h2 {
  font-size: 1.5rem;
  color: #fff;
}

.headerTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.headerTitle p {
  font-size: 1rem;
  border-radius: 9999px;
  width: 20px;
  height: 20px;
  text-align: center;
}

.greenDot {
  background: linear-gradient(to right, #1EBA55, #4FD98A);
}

.redDot {
  background: linear-gradient(to right, #BA1E1E, #D94F4F);
}

.blueDot {
  background: linear-gradient(to right, #3498DB, #4FA7F7);
}

.orangeDot {
  background: linear-gradient(to right, #FF6600, #FF9900);
}

.yellowDot {
  background: linear-gradient(to right, #F7DC6F, #F2C464);
}

.headerButtons,
.headerTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.expandButton {
  background: none;
  border: none;
  stroke: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.expandButton:hover {
  stroke: #ccc;
}

.copyButton {
  background: none;
  border: none;
  stroke: #619CEC;
  font-size: 1rem;
  cursor: pointer;
}

.copyButton:hover {
  stroke: #337ab7;
}

.closeButton {
  background: none;
  border: none;
  stroke: #f44336;
  font-size: 1rem;
  cursor: pointer;
}

.closeButton:hover {
  stroke: #e91e63;
}

.popupContent {
  color: #fff;
  overflow-y: auto;
  height: calc(100% - 3rem);
  border-radius: 10px;
}

.gridSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  background: #202938;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  gap: 1rem;
}

.sectionContainer h3 {
  font-size: 1.4rem;
  color: #ccc;
  font-weight: bold;
}

.sectionContainer label {
  color: #bbb;
}