.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  height: 80px;
}

.logo h1 {
  font-size: 1.5rem;
  margin-left: 10px;
  font-weight: bold;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.userName {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}

.userRole {
  color: #fff;
  font-size: 1rem;
  font-weight: normal;
}

.menu button {
  background: #fff;
  color: #000;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 2rem;
}